global
  log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    #ssl-default-bind-ciphers PROFILE=SYSTEM
    #ssl-default-server-ciphers PROFILE=SYSTEM

defaults
  mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend myfrontend
  bind *:80
  mode http

  acl is_app1 path_beg -i /app1
  use_backend app1 if is_app1

  acl is_app2 path_beg -i /app2
  use_backend app2 if is_app2

  default_backend echo-backend

backend app1
  timeout check 60s
  server app1 app1:8080 check

backend app2
  timeout check 60s
  server app2 app2:8080 check

backend echo-backend
  server echo echo:80 check
